{# Newsletter #}
<div class="border-t border-gray-500px-24 py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-xl font-bold mb-8">EENA Membership &amp; Newsletter</h2>
    <div>
        <h3 class="mt-2 font-bold inline sm:block text-lg lg:inline xl:block">East End Residents</h3>
        <p class="text-lg inline sm:block lg:inline xl:block">Register for EENA and sign up to receive the association newsletter.</p>
        <div>
          <a href="https://www.facebook.com/EastEndNashville/app/100265896690345?__cft__[0]=AZU7FaYI6rBZkgWKJIjSQaVINtl-K7XgWxY0qN24F9VTDrmnCGAhC92CoW9McHeQh4TZYl-x5phwQwOyTovPxAfVj_Plv_bTHA_rjYsjLZgAd7si_qe9XGBUx2hHfRp5ojxD7Xlw2osR7QnM-PWrWJayBR9bCbtOy8XMyjfhQ-v9g8lzVS59r2_44zTLgIJC6s8&__tn__=H-R" class="inline-block flex-none rounded-sm bg-[#982f1a] mt-4 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#982f1a] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#982f1a]">Register</a>
        </div>
    </div>
    <div class="mt-12">
        <h3 class="mt-8 font-bold inline sm:block text-lg lg:inline xl:block">Non Residents<h3>
        <p class="mt-2 inline sm:block text-lg lg:inline xl:block prose">Email <a href="mailto:nashvilleeastend@gmail.com">NashvilleEastEnd@gmail.com</a> and ask to join the mailing list as a non-resident.</p>
    </div>
  </div>
</div>
{# Legal #}
<div class="text-white text-opacity-50 text-xs px-10 py-4 bg-black">&copy;{{ "now"|date('Y') }} East End Neighborhood Association</div>
