{% macro siteFooter(props = {
    items: [
        [
            {label:'News', url: '/blog'},
            {label:'Events', url: '/events'},
            {label:'Resources', url: '#'},
            {label:'Directory', url: '/directory'},
            {label:'Store', url: '/store'},
        ],
        [
            {label: 'Meetings', url: '/meeting'},
            {label: 'Bylaws', url: '/bylaws'},
            {label: 'Officers', url: '/officers'},
            {label: 'Contact', url: '/contact'},
        ],
    ],
}) %}

    {# 
    <div class="bg-black pl-44 pr-36">
        <div class="bg-white aspect-video w-1/3 rounded-xl">
            <h2 class="text-xl font-bold mb-8">EENA Membership &amp; Newsletter</h2>
            <div>
                <h3 class="mt-2 font-bold inline sm:block text-lg lg:inline xl:block">East End Residents</h3>
                <p class="text-lg inline sm:block lg:inline xl:block">Register for EENA and sign up to receive the association newsletter.</p>
                <div>
                <a href="https://facebook.us5.list-manage.com/subscribe?u=0dc026103e2dc5f87e4084596&amp;id=27e9ac35da" class="inline-block flex-none rounded-sm bg-[#982f1a] mt-4 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#982f1a] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#982f1a]">Register</a>
                </div>
            </div>
            <div class="mt-12">
                <h3 class="mt-8 font-bold inline sm:block text-lg lg:inline xl:block">Non Residents</h3>
                <p class="mt-2 inline sm:block text-lg lg:inline xl:block prose">Email <a href="mailto:nashvilleeastend@gmail.com">NashvilleEastEnd@gmail.com</a> and ask to join the mailing list as a non-resident.</p>
            </div>
        </div>
    </div>
    #}


    <div class="bg-black text-white mt-48">
        <div class="text-white">
            <svg class="fill-current" width="512" height="94" viewBox="0 0 512 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.504 92.256C0.162667 90.6347 0.162667 89.056 0.504 87.52H9.08C9.50667 84.0213 9.80533 80.3947 9.976 76.64C10.232 72.8 10.36 68.96 10.36 65.12V29.28C10.36 25.44 10.232 21.6427 9.976 17.888C9.80533 14.048 9.50667 10.3787 9.08 6.88H0.504C0.162667 5.25866 0.162667 3.68 0.504 2.144C3.49067 2.22933 6.73333 2.31466 10.232 2.39999C13.816 2.39999 17.0587 2.39999 19.96 2.39999H64.76V26.72C63.3947 26.976 62.0293 26.976 60.664 26.72C60.3227 20.9173 58.7013 16.2667 55.8 12.768C52.8987 9.26933 48.12 7.52 41.464 7.52H30.84C30.4133 11.36 30.072 14.9867 29.816 18.4C29.6453 21.8133 29.56 25.44 29.56 29.28V65.12C29.56 68.96 29.6453 72.5867 29.816 76C30.072 79.4133 30.4133 83.04 30.84 86.88H45.944C50.3813 86.88 53.9653 85.984 56.696 84.192C59.4267 82.4 61.4747 80.0533 62.84 77.152C64.2053 74.2507 64.9733 71.0933 65.144 67.68C66.5093 67.424 67.8747 67.424 69.24 67.68V92H19.96C17.0587 92 13.816 92 10.232 92C6.73333 92 3.49067 92.0853 0.504 92.256ZM51.064 60C50.9787 55.9893 50.0827 53.088 48.376 51.296C46.6693 49.4187 44.024 48.48 40.44 48.48H19.96V43.36H40.44C44.024 43.36 46.6693 42.4213 48.376 40.544C50.0827 38.6667 50.9787 35.7653 51.064 31.84C52.4293 31.584 53.7947 31.584 55.16 31.84V60C53.7947 60.256 52.4293 60.256 51.064 60ZM100.091 93.92C93.8617 93.92 88.827 92.4267 84.987 89.44C81.147 86.4533 79.227 82.144 79.227 76.512C79.227 72.3307 80.3363 68.9173 82.555 66.272C84.7737 63.5413 87.803 61.4933 91.643 60.128C95.483 58.7627 99.7923 58.08 104.571 58.08C107.387 58.08 109.862 58.2933 111.995 58.72C114.128 59.1467 116.134 59.7013 118.011 60.384V65.76C115.366 64.48 112.294 63.84 108.795 63.84C105.211 63.84 102.139 64.9067 99.579 67.04C97.1043 69.1733 95.867 72.2453 95.867 76.256C95.867 79.84 96.7203 82.6133 98.427 84.576C100.219 86.5387 102.566 87.52 105.467 87.52C107.771 87.52 110.032 86.9653 112.251 85.856C114.47 84.6613 116.39 83.0827 118.011 81.12L119.291 86.88C117.072 88.928 114.342 90.6347 111.099 92C107.856 93.28 104.187 93.92 100.091 93.92ZM134.651 52.448V79.84C134.651 82.9973 135.248 85.088 136.443 86.112C137.723 87.0507 139.686 87.52 142.331 87.52C142.587 89.056 142.587 90.6347 142.331 92.256C140.368 92.5973 138.491 92.8533 136.699 93.024C134.992 93.1947 133.414 93.28 131.963 93.28C128.294 93.28 125.392 92.768 123.259 91.744C121.211 90.6347 119.888 89.0133 119.291 86.88L118.011 81.12V51.808C118.011 47.456 117.328 43.744 115.963 40.672C114.598 37.5147 112.123 35.936 108.539 35.936C104.955 35.936 102.31 37.344 100.603 40.16C98.9817 42.976 98.4697 46.6027 99.067 51.04H82.427C82.427 47.1147 83.3657 43.7013 85.243 40.8C87.2057 37.8133 90.1497 35.4667 94.075 33.76C98.0857 32.0533 103.12 31.2 109.179 31.2C118.651 31.2 125.264 33.12 129.019 36.96C132.774 40.7147 134.651 45.8773 134.651 52.448ZM173.806 93.92C170.563 93.92 166.809 93.536 162.542 92.768C158.361 92.0853 154.563 91.1893 151.15 90.08V71.136C152.515 70.88 153.881 70.88 155.246 71.136C156.441 76.4267 158.531 80.6933 161.518 83.936C164.505 87.1787 168.729 88.8 174.19 88.8C177.689 88.8 180.547 88.16 182.766 86.88C185.07 85.6 186.222 83.5093 186.222 80.608C186.222 78.2187 185.369 76.3413 183.662 74.976C182.041 73.6107 179.907 72.5013 177.262 71.648C174.702 70.7947 171.929 69.8987 168.942 68.96C166.041 68.0213 163.267 66.8693 160.622 65.504C158.062 64.0533 155.929 62.1333 154.222 59.744C152.601 57.2693 151.79 54.0267 151.79 50.016C151.79 44.0427 154.009 39.4347 158.446 36.192C162.883 32.864 168.985 31.2 176.75 31.2C180.761 31.2 184.345 31.584 187.502 32.352C190.745 33.12 193.731 34.144 196.462 35.424V52.96C195.097 53.216 193.731 53.216 192.366 52.96C191.257 47.328 189.294 43.1467 186.478 40.416C183.662 37.6853 180.249 36.32 176.238 36.32C172.739 36.32 170.137 37.0027 168.43 38.368C166.723 39.7333 165.87 41.6533 165.87 44.128C165.87 46.5173 166.723 48.3947 168.43 49.76C170.137 51.1253 172.355 52.2773 175.086 53.216C177.817 54.1547 180.675 55.0933 183.662 56.032C186.734 56.8853 189.635 58.0373 192.366 59.488C195.097 60.9387 197.315 62.8587 199.022 65.248C200.729 67.6373 201.582 70.7947 201.582 74.72C201.582 80.6933 199.15 85.3867 194.286 88.8C189.507 92.2133 182.681 93.92 173.806 93.92ZM235.559 93.92C229.842 93.92 225.404 92.896 222.247 90.848C219.09 88.7147 217.511 84.6613 217.511 78.688V52.32C217.511 49.3333 217.468 46.3467 217.383 43.36C217.383 40.3733 217.298 37.3867 217.127 34.4C216.956 31.4133 216.658 28.4267 216.231 25.44C218.108 25.0133 220.071 24.288 222.119 23.264C224.167 22.1547 226.002 20.8747 227.623 19.424C229.244 17.888 230.268 16.2667 230.695 14.56C232.06 14.304 233.426 14.304 234.791 14.56C234.45 20.7893 234.236 27.0613 234.151 33.376C234.151 39.6907 234.151 46.0053 234.151 52.32V78.688C234.151 81.8453 234.663 84.0213 235.687 85.216C236.711 86.3253 238.162 86.88 240.039 86.88C241.234 86.88 242.471 86.5813 243.751 85.984C245.031 85.3867 246.226 84.4907 247.335 83.296C248.018 83.7227 248.615 84.2773 249.127 84.96C249.724 85.5573 250.236 86.1973 250.663 86.88C249.127 88.7573 247.164 90.4213 244.775 91.872C242.386 93.2373 239.314 93.92 235.559 93.92ZM208.551 38.88C208.21 36.9173 208.21 34.9973 208.551 33.12H248.871C249.212 34.9973 249.212 36.9173 248.871 38.88H208.551ZM283.754 92.256C283.413 90.6347 283.413 89.056 283.754 87.52H292.33C292.757 84.0213 293.055 80.3947 293.226 76.64C293.482 72.8 293.61 68.96 293.61 65.12V29.28C293.61 25.44 293.482 21.6427 293.226 17.888C293.055 14.048 292.757 10.3787 292.33 6.88H283.754C283.413 5.25866 283.413 3.68 283.754 2.144C286.741 2.22933 289.983 2.31466 293.482 2.39999C297.066 2.39999 300.309 2.39999 303.21 2.39999H348.01V26.72C346.645 26.976 345.279 26.976 343.914 26.72C343.573 20.9173 341.951 16.2667 339.05 12.768C336.149 9.26933 331.37 7.52 324.714 7.52H314.09C313.663 11.36 313.322 14.9867 313.066 18.4C312.895 21.8133 312.81 25.44 312.81 29.28V65.12C312.81 68.96 312.895 72.5867 313.066 76C313.322 79.4133 313.663 83.04 314.09 86.88H329.194C333.631 86.88 337.215 85.984 339.946 84.192C342.677 82.4 344.725 80.0533 346.09 77.152C347.455 74.2507 348.223 71.0933 348.394 67.68C349.759 67.424 351.125 67.424 352.49 67.68V92H303.21C300.309 92 297.066 92 293.482 92C289.983 92 286.741 92.0853 283.754 92.256ZM334.314 60C334.229 55.9893 333.333 53.088 331.626 51.296C329.919 49.4187 327.274 48.48 323.69 48.48H303.21V43.36H323.69C327.274 43.36 329.919 42.4213 331.626 40.544C333.333 38.6667 334.229 35.7653 334.314 31.84C335.679 31.584 337.045 31.584 338.41 31.84V60C337.045 60.256 335.679 60.256 334.314 60ZM362.221 92.256C361.88 90.6347 361.88 89.056 362.221 87.52H368.877C369.304 84.6187 369.602 81.5467 369.773 78.304C370.029 75.0613 370.157 71.52 370.157 67.68V57.44C370.157 49.8453 369.73 43.3173 368.877 37.856H362.861C362.52 36.2347 362.52 34.656 362.861 33.12C367.81 33.12 372.034 32.992 375.533 32.736C379.032 32.3947 382.786 31.8827 386.797 31.2C386.456 32.3093 386.2 33.8453 386.029 35.808C385.858 37.6853 385.688 39.5627 385.517 41.44L386.797 47.2V67.68C386.797 71.52 386.882 75.0613 387.053 78.304C387.309 81.5467 387.65 84.6187 388.077 87.52H394.733C395.074 89.056 395.074 90.6347 394.733 92.256C391.832 92.0853 388.973 92 386.157 92C383.341 92 380.781 92 378.477 92C376.173 92 373.613 92 370.797 92C368.066 92 365.208 92.0853 362.221 92.256ZM401.901 92.256C401.56 90.6347 401.56 89.056 401.901 87.52H408.557C408.984 84.6187 409.282 81.5467 409.453 78.304C409.709 75.0613 409.837 71.52 409.837 67.68V51.296C409.837 47.7973 409.154 44.8533 407.789 42.464C406.424 40.0747 403.992 38.88 400.493 38.88C397.506 38.88 394.946 39.648 392.813 41.184C390.765 42.6347 388.76 44.64 386.797 47.2L385.517 41.44C387.394 38.7947 390.168 36.448 393.837 34.4C397.506 32.2667 402.157 31.2 407.789 31.2C413.08 31.2 417.261 32.2667 420.333 34.4C423.405 36.5333 425.666 39.6907 427.117 43.872C426.861 45.152 426.69 46.6453 426.605 48.352C426.52 50.0587 426.477 51.552 426.477 52.832V67.68C426.477 71.52 426.562 75.0613 426.733 78.304C426.989 81.5467 427.33 84.6187 427.757 87.52H434.413C434.754 89.056 434.754 90.6347 434.413 92.256C431.512 92.0853 428.653 92 425.837 92C423.021 92 420.461 92 418.157 92C415.853 92 413.293 92 410.477 92C407.746 92 404.888 92.0853 401.901 92.256ZM487.798 92.64C487.883 91.872 487.969 90.6773 488.054 89.056C488.225 87.3493 488.353 85.5573 488.438 83.68L487.158 77.92V26.72C487.158 19.1253 486.731 12.5973 485.878 7.13599H479.222C478.881 5.51466 478.881 3.93599 479.222 2.39999C484.171 2.39999 488.822 2.272 493.174 2.016C497.526 1.67466 501.707 1.16266 505.718 0.479996C505.206 2.35733 504.822 4.87466 504.566 8.032C504.31 11.1893 504.097 14.4747 503.926 17.888C503.841 21.216 503.798 24.16 503.798 26.72V67.68C503.798 75.2747 504.225 81.8027 505.078 87.264H511.094C511.435 88.8 511.435 90.3787 511.094 92C506.145 92 501.963 92.0427 498.55 92.128C495.137 92.2133 491.553 92.384 487.798 92.64ZM469.238 93.92C464.289 93.92 459.809 92.8107 455.798 90.592C451.873 88.3733 448.758 85.0453 446.454 80.608C444.15 76.0853 442.998 70.368 442.998 63.456C442.998 56.3733 444.321 50.4427 446.966 45.664C449.697 40.8853 453.409 37.3013 458.102 34.912C462.881 32.4373 468.342 31.2 474.486 31.2C480.63 31.2 485.579 32.096 489.334 33.888C493.089 35.68 496.502 38.0693 499.574 41.056L487.158 52.576C487.158 48.1387 486.475 44.768 485.11 42.464C483.745 40.0747 482.123 38.4533 480.246 37.6C478.454 36.7467 476.833 36.32 475.382 36.32C471.286 36.32 467.958 38.5387 465.398 42.976C462.838 47.328 461.558 53.9413 461.558 62.816C461.558 70.8373 462.625 76.9813 464.758 81.248C466.891 85.4293 469.921 87.52 473.846 87.52C476.235 87.52 478.497 86.7093 480.63 85.088C482.849 83.4667 485.025 81.0347 487.158 77.792L488.438 83.68C486.561 86.6667 484.001 89.1413 480.758 91.104C477.515 92.9813 473.675 93.92 469.238 93.92Z" fill="black"/>
            </svg>
        </div>
        {# Menu #}
        <div class="flex justify-end gap-10 pr-32">
            {% for menu in props.items | default([]) %}
                <ul class="">
                    {% for link in menu %}
                        <li><a href="{{ link.url }}" class="text-md text-white/75 underline-offset-4 hover:underline hover:text-white">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        {# HR #}
        <div class="h-px bg-black/20"></div>

        {# Legal #}
        <div class="pl-44 text-white text-opacity-50 text-xs px-10 py-4 bg-black">&copy;{{ "now"|date('Y') }} East End Neighborhood Association</div>
    </div>
{% endmacro %}
