{% extends '_layouts/main' %}

{% block pageBody %}
    <div class="relative lg:flex px-container gap-10">
        
        <div class="lg:w-2/5 mt-20 mb-24">
            {% from '_includes/presenters/stack' import stack %}
            {{ stack(entry.pageHeaderStack, entry) }}
        </div>

        <div class="hidden lg:block w-px bg-black/20"></div>
                
        <div class="lg:w-3/5 mt-20">
            <div class="ml-auto prose prose-lg">{{ entry.prose }}</div>
        </div>
    </div>
{% endblock %}
